/* @file
 * This file is a custom file that loads all files. Each non-base layer
 * can be disabled.
 *
 * Do not name this file "STARTER.scss". This file should be named
 * THEMENAME.scss. If you used the drush command to generate this subtheme,
 * it should be named for you.
 *
 * This application file (THEMENAME.scss) is where all the partials are
 * imported.
 *
 * Theme styles are categorized using SMACSS standards. They utilize
 * categorization of styles into various categories. Those categories are the
 * following:
 *
 * - Base: CSS reset/normalize plus HTML element styling.
 * - Layout: Macro arrangement of a web page, including any grid systems.
 * - Modules: Dictate minor layout modules or reusable elements.
 * - States: Describe the appearance of a module in various states.
 * - Theme: Specific customizations for your subtheme.
 * For more information about this new Drupal css file standard, please review
 * the following:
 * - https://drupal.org/node/1887922
 * - http://smacss.com/
 */

// Make sure the charset is set appropriately
@charset "UTF-8";

// Core
// The following imports bootstrap the theme.
// You may comment out bourbon if you don't want to use its library of mixins.
// The theme will have compilation errors if Foundation is not imported.

// Global Zurb Foundation variable overrides.
@import "base/init";

// Comment out this import if you don't want to use normalize.
@import "../../zurb_foundation/scss/normalize";

// Comment out the imports you don't need below.
@import "../../zurb_foundation/scss/foundation/components/grid";
@import "../../zurb_foundation/scss/foundation/components/accordion";
@import "../../zurb_foundation/scss/foundation/components/alert-boxes";
@import "../../zurb_foundation/scss/foundation/components/block-grid";
@import "../../zurb_foundation/scss/foundation/components/breadcrumbs";
@import "../../zurb_foundation/scss/foundation/components/button-groups";
@import "../../zurb_foundation/scss/foundation/components/buttons";
@import "../../zurb_foundation/scss/foundation/components/clearing";
@import "../../zurb_foundation/scss/foundation/components/dropdown";
@import "../../zurb_foundation/scss/foundation/components/dropdown-buttons";
@import "../../zurb_foundation/scss/foundation/components/flex-video";
@import "../../zurb_foundation/scss/foundation/components/forms";
@import "../../zurb_foundation/scss/foundation/components/icon-bar";
@import "../../zurb_foundation/scss/foundation/components/inline-lists";
@import "../../zurb_foundation/scss/foundation/components/joyride";
@import "../../zurb_foundation/scss/foundation/components/keystrokes";
@import "../../zurb_foundation/scss/foundation/components/labels";
@import "../../zurb_foundation/scss/foundation/components/magellan";
@import "../../zurb_foundation/scss/foundation/components/orbit";
@import "../../zurb_foundation/scss/foundation/components/pagination";
@import "../../zurb_foundation/scss/foundation/components/panels";
@import "../../zurb_foundation/scss/foundation/components/pricing-tables";
@import "../../zurb_foundation/scss/foundation/components/progress-bars";
@import "../../zurb_foundation/scss/foundation/components/range-slider";
@import "../../zurb_foundation/scss/foundation/components/reveal";
@import "../../zurb_foundation/scss/foundation/components/side-nav";
@import "../../zurb_foundation/scss/foundation/components/split-buttons";
@import "../../zurb_foundation/scss/foundation/components/sub-nav";
@import "../../zurb_foundation/scss/foundation/components/switches";
@import "../../zurb_foundation/scss/foundation/components/tables";
@import "../../zurb_foundation/scss/foundation/components/tabs";
@import "../../zurb_foundation/scss/foundation/components/thumbs";
@import "../../zurb_foundation/scss/foundation/components/tooltips";
@import "../../zurb_foundation/scss/foundation/components/top-bar";
@import "../../zurb_foundation/scss/foundation/components/type";
@import "../../zurb_foundation/scss/foundation/components/offcanvas";
@import "../../zurb_foundation/scss/foundation/components/visibility";

// Comment out this import if you don't want to use Bourbon, a replacement for Compass mixins.
@import "bourbon";

// Import our mixins early so they can be used by other partials.
// Optional.
//@import "base/mixins";

// Common file is where you place common utility classes to extend or
// parametrics.
// Optional.
@import "base/common";

// Fix for some Drupal CSS quirks (Drupalisms).
@import "base/drupal";

// Styling for elements.
// Optional.
// @import "base/elements";

// Layout
// Each section of the document has it's own partial seperated out to improve
// developer experience. Additionally, grids can be declared in layouts as well.
@import "layout/header";
@import "layout/main";
@import "layout/aside";
@import "layout/footer";

// Modules
// @import "modules/block";
// @import "modules/button";

// States
// @import "states/collapse";

// Themes
// @import "theme/button-light";

// Older IE support
// @import "vendor/ie";

@import "../fonts/foundation-icons/foundation-icons.css";


body {
  background: url('../images/kph.jpg');

  header {
    nav {
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
      ul.title-area {
        h1 a {
          text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
        }
      }
    }

    .cover-wrap {
      padding-top:40px;
    }

    .site-name-wrap {
      background: rgba(0, 0, 0, 0.3);
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);

      display: inline-block;
      padding: .5rem 2rem;
      position: relative;
      z-index: 1;

      &,
      #page-title,
      a {
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
      }

      #page-title {
        font-size: 4rem;
        font-weight: bold;
      }
    }
  }

  &.front,
  &.page-node-1,
  &.page-node-2,
  &.page-node-3,
  &.page-node-4,
  &.page-node-5 {
    header {
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);

      min-height: 500px;
      height: auto;
      max-width: 100%;
      vertical-align: middle;

      &:before {
        position: absolute;
        content:" ";
        top:0;
        left:0;
        width:100%;
        height: 500px;
        display: block;
        z-index:0;
        background-color: rgba(0, 0, 0, 0.45);
      }

      .cover-wrap {
        padding-top:120px;

        .site-name-wrap {
          background: none;
          box-shadow: none;
        }

        .contacts {
          background: rgba(255, 255, 255, 0.15);
          color: $tuatara;
          font-size:.8rem;
          padding:.8rem;
        }
      }

      h1.site-name {
        a {
          color: white;
          font-size: 4rem;
          font-weight: bold;
          letter-spacing: .8rem;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        }
      }

      h2.site-slogan {
        color: white;
        font-size:1.2rem;
        font-family: $body-font-family;
        font-weight: normal;
        letter-spacing: .3rem;
        text-transform: lowercase;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
      }
    }
  }

  main {
    // background: rgba(255, 255, 255, 0.6);
    // padding: 1rem 0;

    .main {
      padding-top: 2rem;
      padding-bottom: 3rem;

      a {
        color: $body-font-color;
        border-bottom: 1px dotted $body-font-color;

        &:hover {
          color: $white;
          border-bottom: 1px dotted $white;
        }
      }

      .panel-pane {
        padding: 2rem 0;

        h2 {
          margin-bottom: 2rem;
        }
      }

      .panel-separator {
        padding-bottom: 1rem;
      }
    }
  }

  &.node-type-hardware main {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0% 0%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  }
  footer {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    padding-top: 1rem;
  }
}

body.front,
body.page-node-1 {
  header {
    background: transparent url("../images/frying_pans.jpg") no-repeat scroll 50% 50% / cover;
  }
}

body.page-node-2 {
  header {
    background: transparent url("../images/furniture.jpg") no-repeat scroll 50% 50% / cover;
  }
}

body.page-node-3 {
  header {
    background: transparent url("../images/gear.jpg") no-repeat scroll 50% 50% / cover;
  }
}

body.page-node-4 {
  header {
    background-image: url("../images/engineering.jpg");
    background-size: cover;
  }
}

body.page-node-5 {
  header {
    background: transparent url("../images/service.jpg") no-repeat scroll 50% 50% / cover;
  }
}

.bigger-text {
  font-size: 120%;
}

.transparent {
  background: none;
  border-bottom: 1px dotted $oil;
  color:$black;
  padding:.5rem 1rem;

  &:hover {
    background:rgba(0, 0, 0, 0.3);
    border-bottom: none;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  }
}
